// ==========================================
// 03-INDEX.SCSS
// ==========================================

@use 'sass:color'; // 1. Das Sass-Werkzeug laden
@use '01-variables' as *; // 2. Deine eigenen Werkzeuge laden
@use '01-typography' as *;

.main-header {
  padding: $space-xl 0; // Nutzt jetzt die 64px aus den Variablen 📏

  .header-flex {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: $space-xs; // Nutzt eine Variable für gleichmäßige Abstände
  }
}

.kraut-svg {
  width: 80px; // Hier könnten wir später auch eine Variable wie $logo-size nutzen
  color: $brand-primary;
}